 body{
    background-color: rgb(250, 209, 216);
 }
 *  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  background-color: #f08fa3 ;
 
  
}


.logo {
  width: 150px;
}
.about-section {
  padding: 80px 20px;
  background-color:rgb(250, 209, 216);
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 60px;
}


.about-image img {
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 8px;
  border-radius: 10px;
}

/* Sağ metin */
.about-text h2 {
  font-family: "Dancing Script", cursive;
  font-size: 48px;
  margin-bottom: 25px;
  color: #333;
}

.about-text p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #666;
  margin-bottom: 20px;
}





/* BAŞLIK */
.navbar h1 {
  font-size: 32px;
  font-style: italic;
  letter-spacing: 2px;
}

/* MENU */
nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-style: italic;
  font-size: 16px;
}
.img {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
  padding-right: 0%;
}
.img img {
  width: 50%;
  height: 600px;          
  object-fit: cover;    /* kırpar */
  object-position: top;  /*Resmin üst kısmını sabitler, kırpmayı alttan yapar*/
}
.footer {
  background-color: #f08fa3;
  color: black;
  font-family: "Poppins", sans-serif;
  position: relative;
}




.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /*4 tane eşit genişlikte sütun oluşturur*/
  gap: 40px;
}

/* Sütun başlıkları */
.footer h3 {
  color:black;
  font-size: 18px;
  margin-bottom: 20px; /*Paragrafın altına 20px boşluk ekler*/
  letter-spacing: 1px; /*Harfler arasına 1px boşluk ekler*/
}

/* Paragraflar */
.footer p {
  font-size: 14px;
  line-height: 1.7;
  color: black;
}
.footer a {
  color: black;
  text-decoration: none;
  transition: all 0.3s ease; /*Değişimleri 0.3 sn’de, yumuşak şekilde gösterir*/
}

.footer a:hover {
  color: #ec3b5f;
  transform: translateX(5px);
}

/* İletişim alanı */
.contact li {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Alt bölüm */
.footer-bottom {
  border-top: 1px solid rgb(251, 136, 174);
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p {
  font-size: 14px;
  color:black;
}

/* Ödeme ikonları */
.payments img {
  height: 24px;
  margin-left: 10px;
  filter: grayscale(100%); /*Resim tamamen siyah-beyaz görünür*/
  opacity: 0.8; /*hafif şeffaf*/
  transition: 0.3s; /*ani değişimi yumuşatır.*/
}

.payments img:hover {
  filter: grayscale(0);
  opacity: 1;
}
