header{
    background-color: palevioletred;
    text-align: center;
    color: black;
    padding: 20px;
    height: 80px;
}
body{
    font-family: "poppins",sans-serif;
    margin: 0%;
    background-color: rgb(246, 198, 206);
}
nav ul{
    list-style:none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav ul li a{
    color: black;
  
}
nav a{
    text-decoration: none;
    padding: 8px;
}


.gallery{
    justify-content: center;
  
}
.card-container{
    display: flex;
   justify-content: center;
   gap: 20px;
   margin-top: 30px;

}
.card{
    background-color: rgb(231, 159, 183);
    border-radius: 15px;
    box-shadow: 0 4px 8px;
 text-align: center;
 width: 400px;
 
}


.card:hover{
    transform: translateY(-5px);
}

.card p{
    font-style: italic;
  
}
.card img{
    width: 70%;
    border-radius: 10px;
   margin-top: 20px;

}
footer {
   
    text-align: center;
    padding: 15px;
  margin-top: 40px;
}
.contact form {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.contact label {
    font-weight: bold;
}

.contact input,
.contact textarea {
    padding: 10px;
    border: 2px solid #ffb1c1;
    border-radius: 10px;
    font-size: 1em;
    width: 100px;
    resize: pointer;
}

.contact button :hover {
    background-color: #ff8fab;
}
.about {
    text-align: center;
    padding: 40px 20px;
}

.contact {
    background-color: #ffe4ec;
    text-align: center;
    padding: 50px 20px;

}
